<div class='series'>
    <div class='row series-title'>
        <div class='col-xs-9'>
            <span class='lead'>{{ seriesObject.title }}</span>
        </div>
        <div class='col-xs-3 series-buttons'>
            <div class="col-xs-6">
                <a href='#' ui-sref="series.edit({id:seriesObject.id})">
                    <span class="glyphicon glyphicon-pencil control-button edit-button"></span>
                </a>
            </div>
            <div class="col-xs-6">
                <a href='#' ng-click="deleteSeries({series_id: seriesObject.id})">
                    <span class="glyphicon glyphicon-remove control-button remove-button"></span>
                </a>
            </div>
        </div>
    </div>
    <div class='row series-timer'>
            <div class="col-xs-6 text-center">
                <timer end-time="seriesObject.countdown" ng-show='seriesObject.next_episode'><span class='glyphicon glyphicon-hourglass'></span> {{days}}d {{hours}}h {{minutes}}m</timer>
            </div>
    </div>
    <div class='row series-body'>
        <div class='col-xs-6'>
            <img ng-src='{{seriesObject.poster}}' class='img-responsive' style='height:100%; max-height:200px; width:100%;'>
        </div>
        <div class='col-xs-6 nopadding'>
            <p><b>Description:</b><br />{{ seriesObject.description }}</p>
            <p><b>Genre:</b><br /> {{ seriesObject.genres }}</p>

            <p><b>Imdb rating:</b>
                <span class='vcenter'>{{ seriesObject.rating | number:1 }}</span>
                <img class='vcenter' src='../../static/images/star.png' height="20px" width="20px">
            </p>
        </div>
        <div class='col-xs-12 series-actors'>
            <span><b>Actors:</b> {{ seriesObject.actors }}</span>
        </div>
    </div>
</div>
