.vcenter {
    display: inline;
    vertical-align: middle;
    float: none;
}

.nopadding {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.series {
    border-style: groove;
    height: 290px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.series-title {
    height: 10%;
}

.series-timer {
    height: 10%;
}

.series-body {
    height: 60%;
    font-size: smaller;
    margin-bottom: 5px;
    margin-top: 2px;
}

.series-actors {
    height: 10%;
    margin-top: 5px;
}

.series-buttons {
    height: 10%;
    font-size: 1.5em;
    display: none;
}

.remove-button {
    color: #ED716B;
    padding: 5px;
    position: relative;
    right: 15px;
}

.control-button {
    -webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
    background-color: rgba(0,0,0,0);
    border-radius: 30%;
}

.remove-button:hover {
    background-color: #ED716B;
    color: white;
    background-color: rgba(237,113,107,0.7);
}

.edit-button {
    color: #D6A309;
    padding: 5px;
    position: relative;
    right: 20px;
}

.edit-button:hover {
    background-color: #D6A309;
    color: white;
    background-color: rgba(214, 163, 9, 0.7);
}
