<div class="container">
    <div class="row">
        <form role="form" class='col-lg-12' ng-submit="addSeries()">
            <div class="form" ng-include="'form.html'">
            </div>
        </form>
    </div>
</div>
