<div class='form-group'>
    <label for="imdb_id">Imdb ID:</label>
    <input placeholder="Imdb ID*" type="text" id="imdb_id" name="imdb_id" class='form-control' ng-model="series.imdb_id"
    required>
</div>
<div class="form-group">
    <label for="mytime">Air time:</label>
    <uib-timepicker id="air_time" name="air_time" ng-change='changed()' ng-model="episode_air_time" show-meridian="ismeridian"></uib-timepicker>
    <p>Time is: {{episode_air_time}}</p>
</div>
<button class="btn btn-default" type="submit">Save</button>
