<!-- <table ng-show="series_array.length !== 0" ng-cloak> -->

<!--     <tr> -->
<!--         <th>Title</th> -->
<!--         <th>Description</th> -->
<!--         <th>Imdb ID</th> -->
<!--         <th>Genre</th> -->
<!--         <th>Rating</th> -->
<!--         <th>Season</th> -->
<!--         <th>Episode Releases</th> -->
<!--         <th>Air Time</th> -->
<!--         <th>Countdown</th> -->
<!--     </tr> -->

<!--     <tr ng-repeat="series in series_array"> -->
<!--         <td>{{ series.title }}</td> -->
<!--         <td>{{ series.description }}</td> -->
<!--         <td>{{ series.imdb_id}}</td> -->
<!--         <td>{{ series.genre }}</td> -->
<!--         <td>{{ series.rating }}</td> -->
<!--         <td>{{ series.season }}</td> -->
<!--         <td>{{ series.episode_releases }}</td> -->
<!--         <td>{{ series.episode_air_time }}</td> -->
<!--         <td> -->
<!--             <timer end-time="series.countdown">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer> -->
<!--         </td> -->
<!--         <td><a ui-sref="series.edit({id:series.id})">Edit</a> --> 
<!--         </td> -->
<!--         <td><a href ng-click="deleteSeries(series.id)">Delete</a> --> 
<!--         </td> -->
<!--     </tr> -->

<!-- </table> -->

<div class='container'>
    <div class='row'>
        <div class='col-xs-4' ng-repeat='series in series_array'>
            <series series-object="series" delete-series='deleteSeries(series_id)'>
            </series>
        </div>
    </div>
</div>
