<div class="container">
    <div class="row">
        <form role='form' ng-submit='updateSeries()'>
            <!-- <div ng-include="'form.html'"> -->
            <!-- </div> -->
            <div class='form-group'>
                <label for="imdb_id">Imdb ID:</label>
                <input placeholder="Imdb ID*" type="text" id="imdb_id" name="imdb_id" class='form-control' ng-model="series.imdb_id"
                ng-disabled='true' required>
            </div>
            <div class="form-group">
                <label for="mytime">Air time:</label>
                <uib-timepicker id="air_time" name="air_time" ng-change='changed()' ng-model="episode_air_time" show-meridian="ismeridian"></uib-timepicker>
                <p>Time is: {{episode_air_time}}</p>
            </div>
            <button class="btn btn-default" type="submit">Save</button>
        </form>
    </div>
</div>
